<ion-view title="Careers" hide-nav-bar="true" hide-back-button="true" id="page2">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="careers-container3">
      <div id="careers-button-bar3" class="button-bar">
        <button id="careers-button20" class="button button-assertive button-block button-outline icon ion-man"></button>
        <a ui-sref="universitiesCareers()" id="careers-button21" class="button button-stable button-block button-outline icon ion-university"></a>
      </div>
    </div>
    <div id="careers-container8">
      <a ui-sref="careerCompanies()" id="careers-button29" class="button button-assertive button-large button-outline icon ion-laptop"></a>
      <button id="careers-button27" class="button button-assertive button-large button-outline icon ion-android-add"></button>
    </div>
  </ion-content>
</ion-view>