<ion-view title="CareerCompanies" hide-nav-bar="true" hide-back-button="true" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="careerCompanies-container12">
      <div id="careerCompanies-button-bar6" class="button-bar">
        <a ui-sref="careers()" id="careerCompanies-button10" class="button button-assertive button-block button-outline icon ion-man"></a>
        <a ui-sref="universitiesCareers()" id="careerCompanies-button11" class="button button-stable button-block button-outline icon ion-university"></a>
      </div>
      <div id="careerCompanies-container11">
        <button id="careerCompanies-button13" class="button button-assertive button-clear icon ion-android-laptop"></button>
        <a ui-sref="companiesFilters()" id="careerCompanies-button12" class="button button-stable button-clear icon ion-android-options"></a>
      </div>
    </div>
    <div id="careerCompanies-container13">
      <ion-list id="careerCompanies-list3">
        <ion-item id="careerCompanies-list-item10">Big Data Company
          <span class="item-note">75 EGP</span>
          <ion-option-button class="button-balanced">Check mark symbol</ion-option-button>
        </ion-item>
        <ion-item id="careerCompanies-list-item11">Embedded Systems Company
          <span class="item-note">50 EGP</span>
          <ion-option-button class="button-balanced">Check mark symbol</ion-option-button>
        </ion-item>
        <ion-item id="careerCompanies-list-item15">Cloud-Based SME
          <span class="item-note">0 EGP</span>
          <ion-option-button class="button-balanced">Check mark symbol</ion-option-button>
        </ion-item>
        <ion-item id="careerCompanies-list-item16">Security Company
          <span class="item-note">100 EGP</span>
          <ion-option-button class="button-balanced">Check mark symbol</ion-option-button>
        </ion-item>
        <ion-item id="careerCompanies-list-item17">IOS development INC.
          <span class="item-note">100 EGP</span>
          <ion-option-button class="button-balanced">Check mark symbol</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>