<ion-view title="CompaniesFilters" hide-nav-bar="true" id="page5">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="companiesFilters-container10">
      <form id="companiesFilters-form4" class="list">
        <div id="companiesFilters-button-bar5" class="button-bar">
          <button id="companiesFilters-button34" style="font-weight:lighter;text-align:justify;" class="button button-assertive button-block button-outline icon ion-man">small/medium</button>
          <button id="companiesFilters-button35" style="font-weight:lighter;" class="button button-assertive button-block button-outline">corporate</button>
        </div>
        <label class="item item-input item-stacked-label" id="companiesFilters-input11" name="type">
          <span class="input-label">Classification: </span>
          <input type="text" placeholder="select some classifications">
        </label>
        <label class="item item-input item-stacked-label" id="companiesFilters-input9" name="major">
          <span class="input-label">Date/Time: </span>
          <input type="text" placeholder="select date or time">
        </label>
        <ion-item class="range range-assertive" id="companiesFilters-range2">Price Range
          <input type="range" value="300000" min="0" max="300000" step="500" name="price_range">
        </ion-item>
      </form>
    </div>
  </ion-content>
</ion-view>