<ion-view title="UniversitiesFilters" hide-nav-bar="true" id="page4">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="universitiesFilters-container7">
      <form id="universitiesFilters-form2" class="list">
        <label class="item item-input item-stacked-label" id="universitiesFilters-input4" name="type">
          <span class="input-label">Type: </span>
          <input type="text" placeholder="select universities type">
        </label>
        <label class="item item-input item-stacked-label" id="universitiesFilters-input6" name="major">
          <span class="input-label">Major: </span>
          <input type="text" placeholder="select majors that universities offers">
        </label>
        <label class="item item-input item-stacked-label" id="universitiesFilters-input7" name="degree">
          <span class="input-label">Degree</span>
          <input type="text" placeholder="select degrees that universities provide">
        </label>
        <ion-item class="range range-assertive" id="universitiesFilters-range1">Price Range
          <input type="range" value="300000" min="0" max="300000" step="500" name="price_range">
        </ion-item>
      </form>
    </div>
  </ion-content>
</ion-view>