<ion-view title="UniversitiesCareers" hide-nav-bar="true" hide-back-button="true" id="page3">
	<ion-content padding="true" class="manual-ios-statusbar-padding">
		<div id="universitiesCareers-container4">
			<div id="universitiesCareers-button-bar4" class="button-bar">
				<a ui-sref="careers()" id="universitiesCareers-button23" class="button button-stable button-block button-outline icon ion-man"></a>
				<a ui-sref="careers()" id="universitiesCareers-button24" class="button button-assertive button-block button-outline icon ion-university"></a>
			</div>
			<!-- <div id="universitiesCareers-container6"> -->

			<!-- </div> -->
		</div>
		<a ui-sref="universitiesFilters()" id="universitiesCareers-button26" style="float:right;z-index:100;" class="button button-stable button-clear icon ion-android-options"></a>

		<div id="universitiesCareers-container5">
			<ion-list id="universitiesCareers-list2">
	<ion-item id="universitiesCareers-list-item10" ng-repeat="uni in universities" style="margin: 0px;border-left-color: #ef473a;width: 100%;">
<div class="row">
		<span style="font-weight: 700">{{uni.name}}</span>
					<span class="item-note assertive" style="right: 10px;position: absolute;font-weight: 700">{{uni.price}} EGP</span>
</div>
<div class="row">
		<span class="item-date" style="font-size: small;">{{uni.region}}</span>
		<span class="item-status" style="right: 10px;position: absolute;font-size: small;">{{uni.status}}</span>
</div>
		<ion-option-button class="button-energized" style="font-size: xx-large;">ℹ</ion-option-button>
					<ion-option-button class="button-balanced" style="font-size: xx-large;">✓</ion-option-button>
				</ion-item>
<style>
.item .item-content {
	color: #ef473a; !important;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
}
</style>

			</ion-list>
		</div>
	</ion-content>
</ion-view>
