<ion-view title="UniversitiesCareers" hide-nav-bar="true" hide-back-button="true" id="page3">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="universitiesCareers-container4">
      <div id="universitiesCareers-button-bar4" class="button-bar">
        <a ui-sref="careers()" id="universitiesCareers-button23" class="button button-stable button-block button-outline icon ion-man"></a>
        <a ui-sref="careers()" id="universitiesCareers-button24" class="button button-assertive button-block button-outline icon ion-university"></a>
      </div>
      <div id="universitiesCareers-container6">
        <a ui-sref="universitiesFilters()" id="universitiesCareers-button26" class="button button-stable button-clear icon ion-android-options"></a>
      </div>
    </div>
    <div id="universitiesCareers-container5">
      <ion-list id="universitiesCareers-list2">
        <ion-item id="universitiesCareers-list-item9">Ain Sokhna University
          <span class="item-note">55,000 EGP</span>
          <ion-option-button class="button-balanced">Check mark symbol</ion-option-button>
        </ion-item>
        <ion-item id="universitiesCareers-list-item12">New Cairo University
          <span class="item-note">40,000 EGP</span>
          <ion-option-button class="button-balanced">Check mark symbol</ion-option-button>
        </ion-item>
        <ion-item id="universitiesCareers-list-item13">Public University
          <span class="item-note">5,000 EGP</span>
          <ion-option-button class="button-balanced">Check mark symbol</ion-option-button>
        </ion-item>
        <ion-item id="universitiesCareers-list-item14">Helwan University
          <span class="item-note">2,000 EGP</span>
          <ion-option-button class="button-balanced">Check mark symbol</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>